.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--c-bg);

  &.active {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.445);
  }

  @media screen and (prefers-color-scheme: light) {
    &.active {
      box-shadow: 0 7px 10px rgba(0, 0, 0, 0.158);
    }
  }
}
