.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  &__message {
    color: white;
    font-size: var(--fs-p);
    font-weight: 700;
  }
}
