.about {
  position: relative;

  &__content {
    display: flex;
    gap: 32px;
    align-items: center;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }

    &--img {
      width: 100%;
      position: relative;
      background: linear-gradient(135deg, #00c6ff, #013a63, #010a14);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 58% 42% 45% 55% / 68% 71% 29% 32%;
      box-shadow: 0 0.625rem 1.875rem rgba(0, 198, 255, 0.3),
        0 0.3125rem 0.9375rem rgba(1, 67, 117, 0.5),
        inset 0 0.1875rem 0.625rem rgba(255, 255, 255, 0.2);
      animation: blobMorph 8s ease-in-out infinite;
      transition: all 0.5s ease-in-out;

      @media (prefers-color-scheme: light) {
        background: linear-gradient(135deg, #00c6ff, #6befff, #e0f7ff);
      }

      @media screen and (max-width: 992px) {
        width: 70%;
      }

      @media screen and (max-width: 700px) {
        width: 100%;
      }

      & img {
        margin-top: -5rem;
      }
    }

    &--text {
      width: 50%;

      &__title {
        font-size: var(--fs-h3);
        line-height: var(--lh-h3);
        margin-bottom: 0.9375rem;

        & em {
          font-family: var(--ff-2);
          font-style: normal;
          color: var(--c-accent);

          background: linear-gradient(
            135deg,
            #00c6ff,
            #e58e8a,
            #007ca8,
            #004a5f,
            #002737
          );
          background-size: 200% auto;
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          -webkit-text-fill-color: transparent;

          text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.459);

          @media screen and (prefers-color-scheme: light) {
            text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.459);
          }

          @media screen and (max-width: 23.125rem) {
            white-space: nowrap;
          }

          @media screen and (max-width: 280px) {
            white-space: wrap;
          }
        }
      }

      &__desc {
        font-size: var(--fs-p);
        line-height: var(--lh-p);
        color: var(--c-text);
        margin-bottom: 2.5rem;
      }

      &__btn {
        cursor: pointer;
        border: 0.0625rem solid var(--c-accent);
        color: var(--c-text);
        display: flex;
        align-items: center;
        background-color: transparent;
        gap: 8px;
        padding: 8px 16px;
        border-radius: 0.625rem;
        font-size: var(--fs-p);
        line-height: var(--lh-p);
        box-shadow: 0 0.25rem 0.625rem rgba(0, 198, 255, 0.4);
        transition: var(--transition);

        &:hover {
          border: 0.0625rem solid transparent;
          box-shadow: none;
          transform: translateY(-0.125rem);
          color: var(--c-accent);
        }
      }

      @media screen and (max-width: 62rem) {
        width: 100%;
      }
    }

    &--qualities {
      background-color: rgb(0, 92, 117);
      background: linear-gradient(135deg, #00c6ff, #064c5f, #002737);

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 1.25rem 0.625rem;
      gap: 1.875rem;
      margin-block-start: 4rem;
      border-radius: 10px;
      box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.445);

      @media screen and (prefers-color-scheme: light) {
        box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.322);
      }

      @media screen and (max-width: 62rem) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
      }

      @media screen and (max-width: 450px) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1rem;
        text-align: center;
      }

      &__quality {
        padding: 5px;

        &--icon {
          font-size: 30px;
          margin-block-end: 10px;
        }

        &--title {
          font-size: var(--fs-p);
          line-height: var(--lh-p);
          font-weight: bold;
          margin-block-end: 10px;
        }

        &--desc {
          color: rgb(197, 197, 197);
          font-size: 0.9rem;

          @media screen and (max-width: 28.125rem) {
            width: 80%;
            // background-color: red;
            margin-inline: auto;
          }

          @media screen and (max-width: 350px) {
            width: 100%;
          }
        }
      }
    }
  }
}

@keyframes blobMorph {
  0% {
    border-radius: 58% 42% 45% 55% / 68% 71% 29% 32%;
  }
  25% {
    border-radius: 45% 55% 60% 40% / 50% 60% 40% 50%;
  }
  50% {
    border-radius: 60% 40% 50% 50% / 55% 45% 60% 40%;
  }
  75% {
    border-radius: 52% 48% 42% 58% / 60% 50% 40% 50%;
  }
  100% {
    border-radius: 58% 42% 45% 55% / 68% 71% 29% 32%;
  }
}
