@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&family=Cormorant+Upright:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: var(--ff-1);
  background-color: var(--c-bg);
  color: var(--c-text);
}

ul,
ol {
  list-style: none;
}

img,
picture,
figure {
  max-width: 100%;
  display: block;
}

input,
text-area,
button,
select {
  font: inherit;
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}
