@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700;900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: "Poppins", serif;
  background-color: var(--c-bg);
  color: var(--c-text);
}

ul,
ol {
  list-style: none;
}

img,
picture,
figure {
  display: block;
  max-width: 100%;
}

input,
text-area,
button,
select {
  font: inherit;
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Cinzel Decorative", serif;
}
