.footer {
  // background-color: #005c75;
  background: linear-gradient(135deg, #00c6ff, #e58e8a, #004a5f, #002737);

  margin-top: var(--section-padding);
  padding: 20px 0;

  text-align: center;

  &__text {
    font-size: var(--fs-p);
    color: white;
    letter-spacing: 3px;
    font-weight: 700;
  }
}
